.annotationOverlay {
  // ordinary highlights and underlines
  .overlayRect {
    background-color: #bfbfbf !important;
    opacity: 1 !important;

    // underline highlights should be darker
    &[style*='opacity: 1'] {
      background-color: #6f6f6f !important;
    }
  }

  .overlayVector {
    rect, // select area annotations
    path[stroke-width], // pen annotations
    [stroke-dasharray] // dashed outline around selected annotations
    {
      // don't change black pen annotations
      &:not([stroke='#000000'], [stroke='#000'], [stroke='black']) {
        stroke: hsl(0, 0, 70) !important;
      }
    }

    // note annotations
    g polygon[fill]:not([fill='none']) {
      fill: hsl(0, 0, 70) !important;
    }
  }
}

// text annotations
.customAnnotationLayer .textAnnotation {
  color: black !important;
}
