[fill='#ffd400'] {
  fill: black;
  opacity: 1;
}

.customAnnotationLayer .textAnnotation {
  color: black !important;
}

// .textAnnotation[style*="color: #616161"] {
//   color: black !important;
// }
